.slide{
    width : 40%;
    margin: 0 auto;
}

.carousel-caption{
    size:1rem;
    display: block;
    margin-left: -15%;
    margin-right:-15%;
    color: black; opacity:none;
    background-color: white;opacity:0.8;
}

.event-text{
    color: #74368C;
    text-align: center;
    font-size: 30px;
    font-family: 'Bagel Fat One', system-ui;
    font-family: 'Moirai One', system-ui;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.slide_title{
    font-weight:bold;
    font-family: "Pretendard Variable", Pretendard, 'Roboto', sans-serif;
}

.slide_text{
    font-size: 13px;
    font-family: "Pretendard Variable", Pretendard, 'Roboto', sans-serif;
}

.first-line{
    border-bottom: 1px solid #74368C;
}
