* {
  box-sizing: border-box;

  --color-white: #FFF;
  --color-black: #000;
  --color-font: #1D1D1D;
  --color-hover: #74368C;
  --color-light-gray: #E0E0E0;
  --color-focus: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  color: var(--color-font);

}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-hover);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-font);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.nav-bar {
  background-color: rgb(255, 255, 255) !important;
}



.nav-item {
  /* text-decoration:none;
      color:black; */
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.btn-search {
  border: none;
  border-radius: 50px;
  background-color: white;
  padding-right: 50px;
}

.img-style {
  display: flex;
  justify-content: center;
}

.search-icon {
  /* position: relative;
      right: 50px; */
  color: #9aa0a6;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* main */
main {
  position: relative;
}


/* SECTION-board */
#board {
  background-color: var(--color-white);
}

.border-box {
  border: 1px solid var(--color-light-gray);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3 {
  text-align: center;
  font-weight: 900;
  color: var(--color-hover);
  cursor: default;
}

.input,
.textarea {
  border: 1px solid var(--color-light-gray);
  padding: 10px;
  transition: .3s;
  border-radius: 3px;
  resize: none;
}

.input:focus,
.textarea:focus {
  outline: none;
  box-shadow: var(--color-focus);
}

.textarea::-webkit-scrollbar {
  width: 10px;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-hover);
  border-radius: 10px;
}

.textarea::-webkit-scrollbar-track {
  background-color: var(--color-font);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.block {
  display: block;
}


.qna-btn[type=submit] {
  background: rgb(116, 54, 140);
  background: linear-gradient(40deg, rgb(79, 3, 109) 0%, rgb(113, 43, 148) 35%, rgba(183, 0, 255, 0.486) 100%);
  color: #fff;
}



/* footer */
footer {
  display: flex;
  justify-content: center;
  height: 530px;
  background-color: #f3e5f5;
  padding-top: 25px;
}

.footer-container {
  max-width: 1170px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  height: 346px;
}

.first-box {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.second-box {
  width: 70%;
  /* display: flex;
  justify-content: flex-end; */
  display: flex;
  flex-direction: column;
}

.footer-item {
  padding: 0 20px;
  /* text-align: center; */
  margin: 20px 0px;
}

a {
  text-decoration: none;
  color: black;
}

.footer-row {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
}

.footer-column {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* padding: 0 15px; */
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  color: #616161;
  font-weight: 200%;
}

.footer-item {
  padding: 0 20px;
  text-align: center;
  margin: 20px 0px;
}

.btn-color {
  background-color: #b39ddb;
  color: #4527ad;
  border: none;
}

.second-box {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.icon-box {
  width: 54px;
  height: 54px;
  border: 1px solid #222322;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}