    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
      <!-- Section: Language -->
      <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span></span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <div class="col dropdown">
            <button class="btn btn-style btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-globe"></i>
              Language
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">한국어</a></li>
              <li><a class="dropdown-item">English</a></li>
            </ul>
          </div>
        </div>
        <!-- Right -->
      </section>
      <div class="border-bottom"></div>
      <!-- Section: Social media -->

      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="block text-uppercase fw-bold mb-4">
              <img class="block mx-auto" src="./image/2venty_logo.png" alt="2VENTY_LOGO" width="200px">
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              COMPANY
            </h6>
            <p>
              <a class="nav-link mb-1" href="#" class="text-reset">2VENTY 소개</a>
            </p>
            <p>
              <a class="nav-link mb-1" href="#" class="text-reset">2VENTY 사명</a>
            </p>
            <p>
              <a class="nav-link mb-1" href="#" class="text-reset">서비스 소개</a>
            </p>
            <p>
              <a class="nav-link mb-1" href="#!" class="text-reset">공지사항</a>
            </p>
            <p>
              <a class="nav-link mb-1" href="#!" class="text-reset">채용</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              CUSTOMER SERVICE
            </h6>
            <p>
              <a class="nav-link mb-1" href="#" class="text-reset">자주 묻는 질문</a>
            </p>
            <p>
              <a class="nav-link mb-1" href="#!" class="text-reset">고객의 소리</a>
            </p>
            <p>
              <a class="nav-link mb-1" href="#!" class="text-reset">2VENTY 이용 팁</a>
            </p>
            <p>
              <a class="nav-link mb-1" href="#!" class="text-reset">고객 경험 설문조사</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 align-items-center col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              ONLINE COMMUNITY
            </h6>
            <div>
              <a href="#" class="me-4 text-reset">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
              <a href="#" class="me-4 text-reset">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
              <a href="#" class="me-4 text-reset">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
              <a href="#" class="me-4 text-reset">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://vermillion-nougat-7287b6.netlify.app/">2VENTY Co</a>.,Ltd. All Rights Reserved.
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->