  <!-- width 1170px 로 고정 -->
  <div class="footer-container">
    <div class="footer-menu">
      <div class="first-box">
        <!-- 회사 로고 -->
        <div>
          <a href=""><img src="image/2venty_1(2).png" width="132" /></a>
        </div>
      </div>

      <div class="second-box">
        <div class="footer-row">
          <div class="footer-column">
            <!-- 회사 소개 -->
            <div class="footer-item">
                <a href="#">회사 소개</a>
                <a href="#">서비스 소개</a>
                <a href="#">공지사항</a>
                <a href="#">자주 묻는 질문</a>
                <a href="#">채용</a>
            </div>

            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-thin fa-globe"></i>
                Language
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item">한국어</a></li>
                <li><a class="dropdown-item">English</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-row">
          <!-- 서비스 이용 문의 -->
          <div>
            <table>
              <tbody>
                <tr>
                  <td class="pl-2">
                    <span>서비스 이용 문의</span>
                  </td>
                  <td>
                    <a href="#" class="pl-1"><span>채팅상담</span></a>
                    <span class="pl-2"><span>(평일 10:00~17:00)</span></span>
                  </td>
                </tr>
                <tr>
                  <td class="pl-2">
                    <span>사업 제휴 문의</span>
                  </td>
                  <td class="pl-2 pl-1">
                    <a href="#">partnership@2venty.kr</a>
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>

        <div class="footer-row">
          <!-- 광고 센터, 서비스 소개 자료 -->
          <div>
            <a class="btn btn-primary btn-color" href="#" role="button">광고 센터</a>
            <a class="btn btn-primary btn-color" href="#" role="button">서비스 소개 자료</a>
          </div>
        </div>

        <div class="footer-row">
          <!-- 서비스 이용 약관 -->
          <div>
            <a href="/legal/service"><span>서비스 이용 약관</span></a>
            <a href="/legal/service"><span>개인정보처리방침</span></a>
            <a href="/legal/service"><span>전자금융거래 이용약관</span></a>
            <a href="/legal/service"><span>취소 및 환불 약관</span></a>
            <a href="/legal/service"><span>이메일 주소 무단수집 거부</span></a>
          </div>
        </div>

        <div class="footer-row">
          <!-- copyright -->
          <div class="footer-column">
            <div> Copyright ⓒ 2venty Co.,Ltd. All Rights Reserved.</div>
            <div class="second-box">
              <div class="icon-box">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="icon-box">
                <i class="fa-brands fa-twitter"></i>
              </div>
              <div class="icon-box">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
            </div>
          </div>
        </div>       
      </div>    
      
    </div>
  </div>