  <!-- footer -->
  <footer class="pb-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-2 border-top sort-style">
        <div class="col mb-3 sort-style">
          <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <a href="#"><img src="image/image.png" width="132"/></a>
          </a>
          <p class="text-muted">© 2023</p>
          <div class="col dropdown">
            <button class="btn btn-style btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-globe"></i>
              Language
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">한국어</a></li>
              <li><a class="dropdown-item">English</a></li>
            </ul>
          </div>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
          <h5>COMPANY</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">2venty 소개</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">2venty 사명</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">서비스 소개</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">공지사항</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">채용</a></li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>CUSTOMER SERVICE</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">자주 묻는 질문</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">고객의 소리</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">2venty 이용 팁</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">고객 경험 설문조사</a></li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>ONLINE COMMUNITY</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="copyright"> Copyright ⓒ 2venty Co.,Ltd. All Rights Reserved.</div>
    </div>
    
  </footer>