  <!-- header -->
  <header>
    <!-- navbar -->
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="logo" src="image/2venty_logo.png" alt="2venty_logo">
        </a>
        <button class="border-0 navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <ion-icon class="icon--ion mt-1" name="menu-outline"></ion-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-menu me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#EVENT">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./board.html">Contact 2VENTY</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Category
              </a>
              <ul class="dropdown-menu dropdown-style rounded-0">
                <li><a class="dropdown-item" href="#">예술</a></li>
                <li><a class="dropdown-item" href="#">디자인/영상</a></li>
                <li><a class="dropdown-item" href="#">행사 기획</a></li>
                <li><a class="dropdown-item" href="#">기타</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="input form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit">
              <ion-icon class="icon--ion mt-2" name="search-outline"></ion-icon>
            </button>
            <button class="btn" type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom"
              data-bs-custom-class="custom-tooltip" data-container="body" data-bs-title="Log in">
              <ion-icon class="icon--ion mt-2" name="person-outline"></ion-icon>
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>